@charset "UTF-8";

.style_0 { background-color:#aaa; }
.style_0 { back\ground-color:#800; }

.style_1 { background-color:#aaa; }
.style_1 { _background-color:#800\9; }

.style_2 { background-color:#aaa; }
.style_2 { _back\ground-color:#800; }

.style_3 { background-color:#aaa; }
.style_3 { _background-color:#800; }

.style_4 { background-color:#aaa; }
.style_4 { *background-color:#800; }

.style_5 { background-color:#aaa; }
.style_5 { background-color:#800\0/ }

.style_6 { background-color:#aaa; }
.style_6 { *background-color:#800\9; }

.style_7 { background-color:#aaa; }
.style_7 { background-color:#800 \9; }

.style_8 { background-color:#aaa; }
.style_8 { background-color:#800\9; }

.style_9 { background-color:#aaa; }
.style_9 { background-color:#800\9\0; }

.style_10 { background-color:#aaa; }
.style_10 { background-color:#800\0; }

.style_11 { background-color:#aaa; }
:root .style_11 { background-color:#800\0; }

.style_12 { background-color:#aaa; }
.style_12:after { content: "Webkit Content Here"\@/""; background-color:#800; }

.style_13 { background-color:#aaa; }
_::-moz-selection, :root .style_13 { background-color:#800; }

.style_14 { background-color:#aaa; }
_::selection, _::-moz-selection, :root .style_14 { background-color:#800; }

.style_15 { background-color:#aaa; }
html:not([dummy]) .style_15 { background-color:#800; }

.style_16 { background-color:#aaa; }
html>body .style_16 { background-color:#800; }

.style_17 { background-color:#aaa; }
* html .style_17 { background-color:#800; }

.style_18 { background-color:#aaa; }
*+ html .style_18 { background-color:#800; }

.style_19 { background-color:#aaa; }
:root .style_19 { background-color:#800; }

.style_20 { background-color:#aaa; }
html[lang='\

en'] .style_20 { background-color:#800; }

.style_21 { background-color:#aaa; }
.style_21 {[safari:hack; background-color:#800; ]}

.style_22 { background-color:#aaa; }
:root .style_22 {(; background-color:#800; );}

.style_23 { background-color:#aaa; }
.style_23 {-:-(; background-color:#800; ); }

.style_24 { background-color:#aaa; }
.style_24 {(; background-color:#800; ); }

.style_25 { background-color:#aaa; }
.style_25 {[; background-color:#800; ]; }

.style_26 { background-color:#aaa; }
_::math, :root .style_26 { background-color:#800; }

.style_27 { background-color:#aaa; }
::webkit, :root .style_27 { background-color:#800; }

.style_28 { background-color:#aaa; }
::webkit, .style_28 { background-color:#800; }

.style_29 { background-color:#aaa; }
.style_29:not(*:root) { background-color:#800; }

.style_30 { background-color:#aaa; }
_::selection, .style_30 { background-color:#800; }

.style_31 { background-color:#aaa; }
_::selection, :root .style_31 { background-color:#800; }

.style_32 { background-color:#aaa; }
_:-ms-input-placeholder, :root .style_32 { background-color:#800; }

.style_33 { background-color:#aaa; }
_:-ms-input-placeholder, .style_33 { background-color:#800; }

.style_34 { background-color:#aaa; }
_:-ms-fullscreen, :root .style_34 { background-color:#800; }

.style_35 { background-color:#aaa; }
_:-ms-fullscreen, .style_35 { background-color:#800; }

.style_36 { background-color:#aaa; }
_:-moz-tree-row(hover), .style_36 { background-color:#800; }

.style_37 { background-color:#aaa; }
_:-moz-any-link, :root .style_37 { background-color:#800; }

.style_38 { background-color:#aaa; }
_:-moz-read-write, :root .style_38 { background-color:#800; }

.style_39 { background-color:#aaa; }
body:empty .style_39 { background-color:#800; }

.style_40 { background-color:#aaa; }
body:last-child .style_40, x:-moz-any-link { background-color:#800; }

.style_41 { background-color:#aaa; }
_:-moz-loading, :root .style_41 { background-color:#800; }

.style_42 { background-color:#aaa; }
html>/**/body .style_42, x:-moz-any-link, x:default { background-color:#800; }

.style_43 { background-color:#aaa; }
_:-moz-handler-blocked, :root .style_43 { background-color:#800; }

.style_44 { background-color:#aaa; }
body:not(:-moz-handler-blocked) .style_44 { background-color:#800; }

.style_45 { background-color:#aaa; }
html:not(:-moz-handler-blocked) .style_45 { background-color:#800; }

.style_46 { background-color:#aaa; }
_:-moz-handler-crashed, :root .style_46 { background-color:#800; }

.style_47 { background-color:#aaa; }
body:not(:-moz-handler-crashed) .style_47 { background-color:#800; }

.style_48 { background-color:#aaa; }
html:not(:-moz-handler-crashed) .style_48 { background-color:#800; }

.style_49 { background-color:#aaa; }
_:-moz-ui-valid, :root .style_49 { background-color:#800; }

.style_50 { background-color:#aaa; }
_::-moz-progress-bar, :root .style_50 { background-color:#800; }

.style_51 { background-color:#aaa; }
_:-moz-any-link, _::-moz-progress-bar, :root .style_51 { background-color:#800; }

.style_52 { background-color:#aaa; }
_:-moz-full-screen, :root .style_52 { background-color:#800; }

.style_53 { background-color:#aaa; }
_:-moz-full-screen-ancestor, :root .style_53 { background-color:#800; }

.style_54 { background-color:#aaa; }
_::-moz-placeholder, :root .style_54 { background-color:#800; }

.style_55 { background-color:#aaa; }
_:-moz-any-link, _::-moz-placeholder, :root .style_55 { background-color:#800; }

.style_56 { background-color:#aaa; }
_::-moz-range-track, :root .style_56 { background-color:#800; }

.style_57 { background-color:#aaa; }
_:-moz-any-link, _::-moz-range-track, :root .style_57 { background-color:#800; }

.style_58 { background-color:#aaa; }
html:first-child .style_58 { background-color:#800; }

.style_59 { background-color:#aaa; }
*|html[xmlns*=""] .style_59 { background-color:#800; }

.style_60 { background-color:#aaa; }
.style_60:not(:root:root) { background-color:#800; }

.style_61 { background-color:#aaa; }
_::-moz-svg-foreign-content, :root .style_61 { background-color:#800; }

.style_62 { background-color:#aaa; }
_:window-inactive, :root .style_62 {[safari:hack; background-color:#800; ]}

.style_63 { background-color:#aaa; }
_:increment, :root .style_63 {[safari:hack; background-color:#800; ]}

.style_64 { background-color:#aaa; }
_:default, :root .style_64 {[safari:hack; background-color:#800; ]}

.style_65 { background-color:#aaa; }
_:in-range, :root .style_65 {[safari:hack; background-color:#800; ]}

.style_66 { background-color:#aaa; }
_:future, :root .style_66 {[safari:hack; background-color:#800; ]}

.style_67 { background-color:#aaa; }
_:window-inactive, .style_67:not(*:root) { background-color:#800; }

.style_68 { background-color:#aaa; }
_:increment, .style_68:not(*:root) { background-color:#800; }

.style_69 { background-color:#aaa; }
_:default, .style_69:not(*:root) { background-color:#800; }

.style_70 { background-color:#aaa; }
_:in-range, .style_70:not(*:root) { background-color:#800; }

.style_71 { background-color:#aaa; }
_:future, .style_71:not(*:root) { background-color:#800; }

.style_72 { background-color:#aaa; }
_:not(:past), .style_72 { background-color:#800; }

.style_73 { background-color:#aaa; }
_:-o-prefocus, .style_73 { background-color:#800; }

.style_74 { background-color:#aaa; }
_:-o-prefocus, :root .style_74 { background-color:#800; }

.style_75 { background-color:#aaa; }
_-moz-text-blink, :root .style_75 { background-color:#800; }

.style_76 { background-color:#aaa; }
_:default, .style_76:not(*:root) { background-color:#800; }

.style_77 { background-color:#aaa; }
@-moz-document url-prefix() { .style_77 { background-color:#800; } }

.style_78 { background-color:#aaa; }
@media screen and (resolution) { .style_78 { background-color:#800; } }

.style_79 { background-color:#aaa; }
@media screen and (min-width:-100px) and (-webkit-min-device-pixel-ratio:0) { _::-moz-svg-foreign-content, .style_79 { background-color:#800; } }

.style_80 { background-color:#aaa; }
@media screen and(-webkit-min-device-pixel-ratio:0) { ::webkit, .style_80 { background-color:#800; } }

.style_81 { background-color:#aaa; }
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm), screen and(-webkit-min-device-pixel-ratio:0) { .style_81 {(; background-color:#800; );} }

.style_82 { background-color:#aaa; }
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm), screen and(-webkit-min-device-pixel-ratio:0) { .style_82 { background-color:#800; } }

.style_83 { background-color:#aaa; }
@media screen and (-webkit-min-device-pixel-ratio:0) { @supports (background-attachment:local) { .style_83 { background-color:#800; } } }

.style_84 { background-color:#aaa; }
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .style_84 { background-color:#800; } }

.style_85 { background-color:#aaa; }
@media screen and (min-width:-100px) and (-webkit-min-device-pixel-ratio:0) { .style_85 { background-color:#800; } }

.style_86 { background-color:#aaa; }
@media (min-resolution: .001dpcm) { _:-o-prefocus, .style_86 { background-color:#800; } }

.style_87 { background-color:#aaa; }
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) { .style_87 { background-color:#800; } }

.style_88 { background-color:#aaa; }
@media screen\9 { .style_88 { background-color:#800; } }

.style_89 { background-color:#aaa; }
@media \0screen\,screen\9 { .style_89 { background-color:#800; } }

.style_90 { background-color:#aaa; }
@media \0screen { .style_90 { background-color:#800; } }

.style_91 { background-color:#aaa; }
@media \0 screen { .style_91 { background-color:#800; } }

.style_92 { background-color:#aaa; }
@media \0screen,screen\9,screen and (min-width:0\0) { .style_92 { background-color:#800; } }

.style_93 { background-color:#aaa; }
@media screen\0 { .style_93 { background-color:#800; } }

.style_94 { background-color:#aaa; }
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) { .style_94 { background-color:#800; } }

.style_95 { background-color:#aaa; }
@media screen and (min-width:0\0) and (min-resolution: +72dpi) { .style_95 { background-color:#800; } }

.style_96 { background-color:#aaa; }
@media screen and (min-width:0\0) and (min-resolution:.001dpcm), screen and (-ms-high-contrast:active), (-ms-high-contrast:none) { .style_96 { background-color:#800; } }

.style_97 { background-color:#aaa; }
@media screen and (min-width:0\0) { .style_97 { background-color:#800; } }

.style_98 { background-color:#aaa; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .style_98 { background-color:#800; } }

.style_99 { background-color:#aaa; }
@media screen { @media (min-width: 0px) { .style_99 { background-color:#800; } } }

.style_100 { background-color:#aaa; }
@media screen { @media { .style_100 { background-color:#800; } } }

.style_101 { background-color:#aaa; }
@media \0 screen { body:last-child .style_101 { background-color:#800; } }

.style_102 { background-color:#aaa; }
@media screen and (-moz-images-in-menus:0) { body:last-child .style_102 { background-color:#800; } }

.style_103 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) { body:last-child .style_103 { background-color:#800; } }

.style_104 { background-color:#aaa; }
@media (-moz-device-pixel-ratio) { .style_104 { background-color:#800; } }

.style_105 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .style_105 { background-color:#800; } }

.style_106 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .style_106 { background-color:#800; } }

.style_107 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) { @media (min-width: 0px) { .style_107 { background-color:#800; } } }

.style_108 { background-color:#aaa; }
@media screen and (-moz-images-in-menus:0) { @media (min-width: 0px) { .style_108 { background-color:#800; } } }

.style_109 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) and (min-resolution:3e1dpcm) { .style_109 { background-color:#800; } }

.style_110 { background-color:#aaa; }
@media screen and (min-width:0\0) { body:not(:root:root) .style_110 { background-color:#800; } }

.style_111 { background-color:#aaa; }
@media screen and (min-width:0\0) and (-webkit-min-device-pixel-ratio:0) { .style_111 { background-color:#800; } }

.style_112 { background-color:#aaa; }
@media screen and (min-width:0\0) { _:increment, .style_112 { background-color:#800; } }

.style_113 { background-color:#aaa; }
@media screen and (min-width:0\0) { _:window-inactive, .style_113 { background-color:#800; } }

.style_114 { background-color:#aaa; }
@media screen and (min-width:0\0) { _:default, .style_114 { background-color:#800; } }

.style_115 { background-color:#aaa; }
@media (min-width: 0px) { .style_115 {[safari:hack; background-color:#800; ]}}

.style_116 { background-color:#aaa; }
@media screen and(-webkit-min-device-pixel-ratio:0) { .style_116 { background-color:#800; } }

.style_117 { background-color:#aaa; }
@media \\0 screen { .style_117 {(; background-color:#800; ); } }

.style_118 { background-color:#aaa; }
@media \\0 screen { .style_118 { background-color:#800; } }

.style_119 { background-color:#aaa; }
@media (min-width: 0px) { .style_119 { background-color:#800; } }

.style_120 { background-color:#aaa; }
@media (-webkit-min-device-pixel-ratio: 1.1) { .style_120 { background-color:#800; } }

.style_121 { background-color:#aaa; }
@media (-webkit-max-device-pixel-ratio: 1) { .style_121 { background-color:#800; } }

.style_122 { background-color:#aaa; }
@media { .style_122 { background-color:#800; } }

.style_123 { background-color:#aaa; }
@media NOT print { .style_123 { background-color:#800; } }

.style_124 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:1.1) { .style_124 { background-color:#800; } }

.style_125 { background-color:#aaa; }
@media screen and (-webkit-min-device-pixel-ratio:0) { .style_125 { background-color:#800; } }

.style_126 { background-color:#aaa; }
@media not print and (-webkit-min-device-pixel-ratio:0) { .style_126 { background-color:#800; } }

.style_127 { background-color:#aaa; }
@media not print and (min--moz-device-pixel-ratio:0) { .style_127 { background-color:#800; } }

.style_128 { background-color:#aaa; }
@media not print and (min--moz-device-pixel-ratio:0) and (-webkit-min-device-pixel-ratio:10000) { .style_128 { background-color:#800; } }

.style_129 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) { .style_129 { background-color:#800; } }

.style_130 { background-color:#aaa; }
@media screen and (min--moz-device-pixel-ratio:0) and (-webkit-min-device-pixel-ratio:10000) { .style_130 { background-color:#800; } }

.style_131 { background-color:#aaa; }
@supports (box-sizing: content-box) { .style_131 { background-color:#800; } }

.style_132 { background-color:#aaa; }
@supports (box-sizing: border-box) { .style_132 { background-color:#800; } }

.style_133 { background-color:#aaa; }
@supports (-moz-box-sizing: border-box) { .style_133 { background-color:#800; } }

.style_134 { background-color:#aaa; }
@supports (-webkit-appearance:none) { .style_134 { background-color:#800; } }

.style_135 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (object-fit:none) { .style_135 { background-color:#800; } }

.style_136 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (object-fit:fill) { .style_136 { background-color:#800; } }

.style_137 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (font-kerning:auto) { .style_137 { background-color:#800; } }

.style_138 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (font-variant-ligatures:normal) { .style_138 { background-color:#800; } }

.style_139 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (font-variant-ligatures:common-ligatures) { .style_139 { background-color:#800; } }

.style_140 { background-color:#aaa; }
@supports (-webkit-appearance:none) and (background-blend-mode: difference, normal ) { .style_140 { background-color:#800; } }

.style_141 { background-color:#aaa; }
@supports (-moz-appearance:none) and (display:flex) { .style_141 { background-color:#800; } }

.style_142 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (display:flex) { .style_142 { background-color:#800; } }

.style_143 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (cursor:zoom-in) { .style_143 { background-color:#800; } }

.style_144 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (background-attachment:local) { .style_144 { background-color:#800; } }

.style_145 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (image-orientation:90deg) { .style_145 { background-color:#800; } }

.style_146 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (all:initial) { .style_146 { background-color:#800; } }

.style_147 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (list-style-type:japanese-formal) { .style_147 { background-color:#800; } }

.style_148 { background-color:#aaa; }
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) { .style_148 { background-color:#800; } }

